<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />

    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="css/normalize.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="css/style.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400&display=swap"
      rel="stylesheet"
    />

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->
    <div class="container">
      <div class="row">
        <!-- left side -->
        <div class="col-12 col-sm-3">
          <div class="logo">
            <img class="logo" src="./img/ion_logo-sass.svg" alt="" />
          </div>
          <!--  -->
          <div class="user mb-5">
            <div class="user-container flex">
              <div class="avatar">
                <img src="./img/elipse.svg" alt="" />
              </div>
              <div class="user-info">
                <div>
                  <h4>username</h4>
                  <p>biography</p>
                </div>
              </div>
            </div>
          </div>
          <!--  -->
          <div class="menu fixed-top-161">
            <ul class="menu-list">
              <li>
                <a class="menu-link active" href=""
                  ><img
                    class="ico"
                    src="./img/ico/carbon_home.svg"
                    alt=""
                  />Feed</a
                >
              </li>

              <li>
                <a class="menu-link" href=""
                  ><img
                    class="ico"
                    src="./img/ico/carbon_explore.svg"
                    alt=""
                  />Explored</a
                >
              </li>

              <li>
                <a class="menu-link" href=""
                  ><img
                    class="ico"
                    src="./img/ico/carbon_bookmark.svg"
                    alt=""
                  />Saved</a
                >
              </li>

              <li>
                <a class="menu-link" href=""
                  ><img
                    class="ico"
                    src="./img/ico/carbon_face-activated.svg"
                    alt=""
                  />Direct</a
                >
              </li>

              <div class="hr my-4"></div>

              <li>
                <a class="menu-link" href=""
                  ><img
                    class="ico"
                    src="./img/ico/carbon_chat.svg"
                    alt=""
                  />Home</a
                >
              </li>

              <li>
                <a class="menu-link" href=""
                  ><img
                    class="ico"
                    src="./img/ico/carbon_activity.svg"
                    alt=""
                  />Activity</a
                >
              </li>
            </ul>
          </div>

          <!--  -->
          <div class="hr my-4"></div>
          <!--  -->
          <div class="menu-footer">
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Press</a></li>
              <li><a href="#">API</a></li>
              <li><a href="#">Jobs</a></li>
              <li><a href="#">Privacy</a></li>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Locations</a></li>
              <li><a href="#">Account</a></li>
              <li><a href="#">English</a></li>
            </ul>
          </div>
        </div>
        <!-- main side -->
        <div class="col-12 col-sm-6">
          <div class="search py-3">
            <div class="search-container">
              <img
                class="ico-search ico"
                src="./img/ico/carbon_search.svg"
                alt=""
              />
              <input type="text" placeholder="Placeholder" />
            </div>
          </div>
          <!--  -->
          <div class="suggestions my-3">
            <h3>Suggestions</h3>
            <div class="suggestions-container">
              <div class="suggestion">
                <img src="./img/elipse.png" alt="" />
                <p>User Name weroerweioro</p>
              </div>
              <!--  -->
              <div class="suggestion">
                <img src="./img/elipse.png" alt="" />
                <p>User Name</p>
              </div>
              <!--  -->
              <div class="suggestion">
                <img src="./img/elipse.png" alt="" />
                <p>User Name</p>
              </div>
              <!--  -->
              <div class="suggestion">
                <img src="./img/elipse.png" alt="" />
                <p>User Name</p>
              </div>
              <!--  -->
              <div class="suggestion">
                <img src="./img/elipse.png" alt="" />
                <p>User Name</p>
              </div>
              <!--  -->
            </div>
          </div>
          <!--  -->
          <div class="feed mt-4">
            <h3>Feed</h3>
            <div class="posts">
              <!--  -->
              <!-- post -->
              <div class="post">
                <div class="user">
                  <div class="user-container flex">
                    <div class="avatar">
                      <img src="./img/elipse.svg" alt="" />
                    </div>
                    <div class="user-info">
                      <div>
                        <h4>username</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!--  -->
                <div class="post my-2">
                  <img src="./img/figure.png" alt="" />
                </div>
              </div>
              <!-- end post -->
              <!-- post -->
              <div class="post">
                <div class="user">
                  <div class="user-container flex">
                    <div class="avatar">
                      <img src="./img/elipse.svg" alt="" />
                    </div>
                    <div class="user-info">
                      <div>
                        <h4>username</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!--  -->
                <div class="post my-2">
                  <img src="./img/figure.png" alt="" />
                </div>
              </div>
              <!-- end post -->
              <!-- post -->
              <div class="post">
                <div class="user">
                  <div class="user-container flex">
                    <div class="avatar">
                      <img src="./img/elipse.svg" alt="" />
                    </div>
                    <div class="user-info">
                      <div>
                        <h4>username</h4>
                      </div>
                    </div>
                  </div>
                </div>
                <!--  -->
                <div class="post my-2">
                  <img src="./img/figure.png" alt="" />
                </div>
              </div>
              <!-- end post -->
            </div>
          </div>
          <!--  -->
        </div>
        <!-- right side -->
        <div class="col-12 col-sm-3">
          <div class="recommendation">
            <div class="recommendation-header flex">
              <h3>Recommendations</h3>
              <a href="#">More</a>
            </div>
            <!--  -->
            <div class="recommendations">
              <!--  -->
              <div class="user">
                <div class="user-container flex">
                  <div class="avatar">
                    <img src="./img/elipse.svg" alt="" />
                  </div>
                  <div class="user-info">
                    <div>
                      <h4>username</h4>
                      <p>biography</p>
                    </div>
                    <div class="rec-follow">
                      <button class="btn btn-follow">Follow</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="user">
                <div class="user-container flex">
                  <div class="avatar">
                    <img src="./img/elipse.svg" alt="" />
                  </div>
                  <div class="user-info">
                    <div>
                      <h4>username</h4>
                      <p>biography</p>
                    </div>
                    <div class="rec-follow">
                      <button class="btn btn-follow">Follow</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="user">
                <div class="user-container flex">
                  <div class="avatar">
                    <img src="./img/elipse.svg" alt="" />
                  </div>
                  <div class="user-info">
                    <div>
                      <h4>username</h4>
                      <p>biography</p>
                    </div>
                    <div class="rec-follow">
                      <button class="btn btn-follow">Follow</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
              <div class="user">
                <div class="user-container flex">
                  <div class="avatar">
                    <img src="./img/elipse.svg" alt="" />
                  </div>
                  <div class="user-info">
                    <div>
                      <h4>username</h4>
                      <p>biography</p>
                    </div>
                    <div class="rec-follow">
                      <button class="btn btn-follow">Follow</button>
                    </div>
                  </div>
                </div>
              </div>
              <!--  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
