img,
svg {
  width: 100%;
  height: auto;
}

html {
  overflow: auto;
}

.App-logo {
  margin: 1.5rem 0;
}
.App-logo path {
  fill: rgba(0, 0, 0, 85);
}
/* ------------------ modal -------------------- */
.App-modal--container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.089);
}

.App-modal--content {
  overflow-y: scroll;
  max-height: 90vh;
  max-width: 90vw;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
