img,
svg {
  width: 100%;
  height: auto;
}

html {
  overflow-y: auto;
}

.App-logo {
  margin: 1.5rem 0;
}
.App-logo-light path {
  fill: rgba(0, 0, 0, 85);
}

.App-logo-dark path {
  fill: rgba(255, 255, 255, 85);
}
/* ------------------ text -------------------- */
.App-text-light {
  color: black !important;
}
.App-text-dark {
  color: white !important;
}
/* ------------------ modal -------------------- */
.App-modal--container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.App-modal--content {
  overflow-y: scroll;
  max-height: 85vh;
  max-width: 90vw;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: auto;
  animation: fadeIn ease 0.2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.App-btn--absolute {
  position: absolute;
  top: 0;
  right: 1rem;
}
