.CommentNew {
  display: block;
  position: relative;
  padding: 0.25rem;
}

.CommentNew svg {
  position: relative;
  right: 0;
  transition: 0.2s ease-in-out;
}
.CommentNew svg:hover {
  right: 0.25rem;
}

.CommentNew input {
  padding: 0.5rem 2.5rem 0.5rem 0.5rem;
}

.CommentNew button {
  position: absolute;
  right: 0.5rem;
  top: 0.4rem;
}
