.Input {
  position: relative;
}

.Input label {
  opacity: 0.75;
  font-weight: 300;
  position: absolute;
  top: 0.2rem;
  left: 0.75rem;
}

.Input input {
  padding: 1.4rem 0.75rem 0.5rem 0.75rem;
  margin-bottom: 0.5rem;
}
