.IconsContainer {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.IconsContainer img {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.IconsContainer p {
  font-size: 0.75rem;
  font-weight: 500;
}

.Icons svg {
  transition: 0.1s ease-in-out;
  top: 0;
  height: 18px;
}
.Icons svg:hover {
  position: relative;
  top: -0.25rem;
}
.Icons span {
  font-size: 0.75rem;
  line-height: 0.75rem;
}
