.PostNew {
  position: relative;
  width: 400px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.PostNew input {
  padding: 0.5rem 4rem 0.5rem 2.5rem;
}

.PostNew button {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
}

.FileUpload {
  cursor: pointer;
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
  display: block;
}
