.PostNew {
  margin: 1rem auto;
  position: relative;
  width: 400px;
}

.PostNew input {
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
}

.PostNew button {
  position: absolute;
  top: 0.15rem;
  right: 0.3rem;
  transition: 0.2s ease-in-out;
}

.PostNew button:hover {
  right: 0.55rem;
}

.Label {
  position: absolute;
  top: 0.2rem;
  left: 0.3rem;
  cursor: pointer;
}

.Label:hover {
  left: 0.5rem;
  transition: 0.2s ease-in-out;
}
