.FriendsContainer {
  margin-top: 1rem;
}

.Friends {
  display: flex;

  margin-bottom: 0.5rem;
  flex-direction: column;
}

.List {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.Modal {
  padding: 2rem;
  position: relative;
}

.Modal input {
  margin-bottom: 0.5rem;
}

.Modal p {
  margin-bottom: 0.5rem;
}
